body { padding-top: 70px; }

#chart { width: 850px; }

.modal-lg { width: 900px; }

#chart-buttons { text-align: center; }

#setminers textarea {
  width: 100%;
  height: 10em;
}

.navbar-right > button { cursor: default; }

.status > li > span { float: right; }
.status.pull-left { width: 50%; }
.status.pull-right { width: 50%; }
@media (max-width: 1170px) {
  .status.pull-left { float: none!important; width: 100%; }
  .status.pull-right { float: none!important; width: 100%; }
}
@media (max-width: 768px) {
  .status > li > span {
    font-weight: bold;
    float: none;
    display: inline-block;
  }
}

/* Override some bootstap stuff */
.panel .list-group .list-group-item:first-child { border-top-width: 0; }
.list-group { box-shadow: none; -webkit-box-shadow: none; }
@media (min-width: 1171px) {
  .panel .list-group .list-group-item:last-child { border-bottom: 0; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;}
}

footer {
  font-size: .8em;
  text-align: center;
}

.recent_blocks {
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
